@{
    ViewData["Title"] = "Home Page";
}
@foreach (var x in Model.Feeds)
{ }

<div class="grid">
    @{

        <div class="row row-cols-1 row-cols-md-2">
            @foreach (var f in Model.Feeds)
            {
                <div class="col-s">
                    <div class="card h-100" style="width: 100%;">

                        <div class="card-body">
                            <h5 class="card-title">@f.Title.Text</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@f.PublishDate.ToString()</h6>
                            <p class="card-text">@f.Summary.Text</p>
                            
                        </div>
                        <div class="card-footer">
                            <a href="@f.Links[0].Uri" class="btn btn-primary">Continue Reading</a>
                        </div>
                    </div>
                </div>
                @*<div class="cell">
                        <h5>@Model.Feeds[counter].Title.Text</h5>
                        <p>@Model.Feeds[counter].Summary.Text</p>
                        <a href="@Model.Feeds[counter].Links[0].Uri">Read More</a>
                    </div>*@
            }
        </div>

    }
</div>
